-r requirements.txt

# Tests
pytest
pytest-bdd
pytest-localserver
pytest-splinter
pytest-sqlalchemy
webtest

# Linting
flake8
flake8-bugbear
flake8-commas
flake8-docstrings
flake8-import-order
flake8-per-file-ignores
mccabe
pep8-naming

# Security Issues
safety
